// STYLE POUR NOTRE INTERFACE

.portfolio{
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;

  .project{
    margin: rem(5);
    border: 1px dashed $black;
    padding: rem(10);

    width: calc(33.33% - 10px);

    img{
      margin-bottom: rem(15);
      order: -1;

    }

    h2, p{
      margin: 0;
    }

  }

  .project-red{
    background-color: $light-red;
    border-color: $dark-red;

    h2, p{
      color: $red;
    }
  }

  .project-yellow{
    background-color: $light-yellow;
    border-color: $dark-yellow;

    h2, p{
      color: $yellow;
    }
  }

  .project-teal{
    background-color: $light-teal;
    border-color: $dark-teal;

    h2, p{
      color: $teal;
    }
  }

  .project-blue{
    background-color: $light-blue;
    border-color: $dark-blue;

    h2, p{
      color: $blue;
    }
  }

}


