//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white: #fff;
$black: #303044;

//Couleur projet spécifique
$blue: rgba(1, 22, 39,1);
$light-blue:  lighten($blue, 90%);
$dark-blue:  darken($blue, 15%);

$red: rgba(231, 29, 54, 1);
$light-red: lighten($red, 45%);
$dark-red:  darken($red, 15%);


$yellow:rgba(255, 159, 28, 1) ;
$light-yellow: lighten($yellow, 40%);
$dark-yellow:  darken($yellow, 15%);

$teal: rgba(46, 196, 182, 1);
$light-teal: lighten($teal, 45%);
$dark-teal:  darken($teal, 15%);


// Couleur de projet

$color-text: lighten($black, 45%);
$color-link: $color-text;
