//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-text: 16px;
$lh-normal: 24px;

/// Font family
$font-1: "Open Sans Condensed", sans-serif;
$font-2: "Saira Extra Condensed", sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
